$color_1: #0d6efd;
$color_2: white;
$color_3: #000;
$color_4: #fff;
$color_5: #005AA7;
$color_6: #a8ff78;
$color_7: #DA4453;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: transparent;
$background-color_2: #0d6efd;